.mainSection {
  display: flex;
}

.postContainer {
  display: flex;
}

.mainColumn {
  margin: 10% 20% 0 20%;
}

.authorInfo {
  margin-bottom: 3rem;
}

.postContent {
  line-height: 26px;
  letter-spacing: .1px;
}
