@font-face {
  font-family: 'Victor serif regular';
  src:  url('../fonts/victorserifsmooth-regular-webfont.woff2') format('woff2'),
        url('../fonts/victorserifsmooth-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Noto sans regular';
  src:  url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
        url('../fonts/notosans-regular-webfont.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto sans regular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  color: #2F3033; /* huma-grey */
  letter-spacing: .2px;
  font-family: 'Victor serif regular', serif;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  line-height: 64px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}
